<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Directory</title>
</head>
<body>
  <form action="">
    <input type="text" name="name" />
    <input type="text" name="title" />
    <input type="submit" value="Create" />
  </form>
  <span>Success</span>
</body>
</html>